@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&family=Rubik+Glitch&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
 background-image: url(../img/cielo\ estrellado.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: #fdfdfdda;
    text-shadow: 1px 8px 10px;
    text-transform: capitalize;
    font-weight: bold;
}
/* Inicio del navegador */
nav{
    background: rgba(3, 3, 3, 0.822);
    height: 80px ;
    width:100% ;
    border: 3px solid black;
    border-radius: 5px;
}

.Enlace{
    position: absolute;
    padding: 8px 50px ;
}

.logo{
    height: 50px;
}
nav ul{
    z-index: 6;
 float: right ;  
  margin-right: 20px;
}
nav ul li{
    display:inline-block ;
    line-height: 50px;
    margin: 0 5px;
    padding: 7px 0;
}
nav ul li a{
    color: white;
    text-transform: uppercase;
    text-shadow: red  2px 2px 5px;
}
li a.active, li a:hover{
    background: rgb(231, 22, 22) ;
    transition: 1s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



h1{
    text-align: center;
}
.flex-contenendor{
    display: flex;
    border: 5px solid black;
    background-color: #776a6aa8;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    box-shadow: 0px 8px 10px rgb(20, 141, 211);
    margin-bottom: 5px;
    margin: 5rem;
    margin-top: 13rem;
}
.card{
    border: 5px solid rgba(46, 46, 46, 0.404);
    background-color: rgba(255, 255, 255, 0.473);
    display: flex;
    padding: .9rem 1.5rem;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 7rem;
    width: 40%;
    box-shadow: 8px 9px 11px;

}
.card h2{
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 0px 8px 10px;
    text-align: center;
}
.card p{
    padding: .5rem;

}
.card-header video{
    width: 600px;
}
.contenido{
    font-size: 1.3rem;
    /* width: 20%; */
}
.contenido .btn{
    text-decoration: none;
    padding: 0.3rem 1rem;
    margin: .9rem 1rem;
    background-color: #555454d7;
    cursor: pointer;
    color: white;
    transition: 0.4s ease-in-out;
    border-radius: 6.5px; 
}
.contenido .btn:hover{
    box-shadow: 0px 8px 10px rgba(0, 0, 0,0.5); 
}
@media screen and (min-width:1384px) and (max-width:4000px) {
    .Enlace{
        padding-left: 20px;
        }
        nav ul li a{
            font-size: 1rem ;
        }
        .logo{
        height: 50px;
        }
    }

    @media screen and (min-width:250px) and (max-width:750px) {
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 40%;
            height: 100vh;
            background: rgb(80, 80, 80);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s ;
            border: 3px solid black;
            border-radius: 5px;
        }
        nav ul li{
          display: block;  
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
            font-size: .8rem;
        }
        li a:hover, li a.active{
            background: none;
            color: red;
        }
        #check:checked ~ ul{
            left: 0;
        }
        h1{
            font-size: 1.8rem;
            font-weight: bold;
        }
        h2{
            font-family: 'Rubik Glitch', system-ui;
            color: rgba(38, 39, 39, 0.493);
        }
        p{
            text-align: justify;
        }
        .card-header video{
            width: 250px;
            margin-left: 1.4rem;
            box-shadow: 0px 8px 10px;
        }
        .contenido .btn{
            padding: 0.3rem .5rem;
        }
        .flex-contenendor{
            display: flex;
            border: 5px solid black;
            background-color: #776a6aa8;
            padding: 20px;
            width: 95%;
            margin: 0 auto;
            flex-flow: row wrap;
            box-shadow: 0px 8px 10px rgb(20, 141, 211);
            margin-bottom: 5px;
            margin: 1rem;
            margin-top: 13rem;
        }
        .card{
            border: 5px solid rgba(46, 46, 46, 0.404);
            background-color: rgba(255, 255, 255, 0.473);
            display: flex;
            padding: .9rem 1.5rem;
            flex-direction: column;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: .5rem;
            width: 100%;
            box-shadow: 8px 9px 11px ;
        }
    }
    .pie{
        background-color: rgba(0, 0, 0, 0.801); 
        color: white;
        float: right;
        width: 100%;
        height: 150px;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        padding: 15px;
     }
    .pie_ul{
        color: white;
        text-decoration: none;
    }
    a i{
    transition: .3s;
        color: rgb(105, 17, 98);
        font-size:30px;
        padding: 7px;
    }
    .icons i:hover{
        transform: scale(1.4);
        color: #95cdf0;
    }